---

---

<div id="AboutMy" class="flex flex-col align-middle text-center w-2xl py-5">
  <h1 class="text-6xl">CARLOS RODRÍGUEZ CEBADOR</h1>
  <h3 class="text-xl text-red-400">
    Técnico Superior Desarrollo de Aplicaciones Web
  </h3>
  <p class="text-lg pt-5">
    Estudiante de FP de Grado Superior en Desarrollo de Aplicaciones Web, con
    conocimientos en frontend y backend, incluyendo tecnologías como HTML, CSS,
    JavaScript, React, Node.js, Tailwind y bases de datos SQL. Apasionado por el
    desarrollo web, el aprendizaje continuo y la resolución de problemas
    mediante código.
  </p>
</div>
