---

---

<div id="Experiencie" class="flex flex-col align-middle text-center w-2xl py-8 space-y-2 max-sm:w-full max-sm:px-2">
  <h2 class="text-2xl text-red-400 max-sm:text-xl">EXPERIENCIA</h2>
  <p class="text-lg max-sm:text-sm">
    Aunque no tengo experiencia laboral en este puesto, cuento con una gran
    capacidad de aprendizaje y una actitud proactiva. He dedicado tiempo a
    formarme de manera autodidacta, desarrollando habilidades con las que estoy
    listo para aplicar en un entorno profesional. Estoy entusiasmado por la
    oportunidad de aportar mi energía y compromiso, y estoy seguro de que mi
    motivación y ganas de crecer harán la diferencia en su equipo.
  </p>
</div>
