---

---

<div class="flex flex-col align-middle text-center w-2xl py-8 space-y-2">
  <p class="text-sm text-gray-400">
    Este proyecto es mi portafolio personal, diseñado para mostrar mis
    habilidades y proyectos de desarrollo web. La interfaz fue creada en <span class="text-white">Figma</span>,
    asegurando un diseño moderno y funcional. El frontend está desarrollado con
    <span class="text-white">Vite + React</span>, utilizando <span class="text-white">Tailwind CSS</span> para un estilo limpio y responsive.
    Todo el código fue trabajado en <span class="text-white">Visual Studio Code</span> y el sitio está
    desplegado en <span class="text-white">Vercel</span> para un rendimiento óptimo y accesibilidad global.
  </p>
</div>
