---
import Logo from "../assets/MiLogoDEV-blanco.svg";
---

<div
  class="flex w-full h-20 justify-center bg-gradient-to-b from-red-800 to-red-950"
>
  <div class="flex w-2xl justify-between items-center">
    <div class="flex h-full px-2.5 items-center">
      <img src={Logo.src} alt="Mi Logo" class="w-18 h-18" />
    </div>
    <div class="flex h-full p-2.5 items-end">
      <nav class="text-white text-sm space-x-3">
        <a href="#AboutMy" class="hover:border-b-2">Sobre mí</a>
        <a href="#Projects" class="hover:border-b-2">Proyectos</a>
        <a href="#Skills" class="hover:border-b-2">Aptitudes</a>
        <a href="#Experiencie" class="hover:border-b-2">Experiencia</a>
        <a href="#Contact" class="hover:border-b-2">Contacto</a>
      </nav>
    </div>
  </div>
</div>
