---
import Logo from "../../public/assets/Icons/Logo-version-1.4/Logo-DEV.svg";
import { AlignJustify } from "@lucide/astro";
---

<div
  class="fixed flex w-full h-20 justify-between px-4 lg:px-50 bg-slate-800 z-10"
>
    <div class="flex items-center">
      <Logo class="size-18" />
    </div>
    <div
      class="flex items-center"
    >
      <nav class="flex items-center gap-5 text-sm lg:text-base">
        <span id="menuNav" class="opacity-0 flex flex-col items-center gap-5 w-screen md:w-auto py-4 fixed top-20 right-0
        bg-slate-800 transition-all md:opacity-100 md:bg-transparent md:static md:flex-row md:p-0 lg:gap-5">
          <a href="#AboutMy" class="hover:text-gray-400">Inicio</a>
          <a href="#Projects" class="hover:text-gray-400">Proyectos</a>
          <a href="#Skills" class="hover:text-gray-400">Aptitudes</a>
          <!-- <a href="#Experiencie" class="hover:text-gray-400">Experiencia</a> -->
        </span>
        <a href="#Contact" class="px-5 py-2 bg-blue-500 font-medium rounded-lg hover:bg-blue-600 transition-colors">Contacto</a>
        <AlignJustify class="size-6 md:hidden" onclick="document.getElementById('menuNav').classList.toggle('opacity-0')" />
      </nav>
    </div>
</div>
