---
import ArrowUp from "../../public/assets/Icons/arrow-up.svg";
---

<a
  class="invert fixed top-19/20 right-5 p-2 rounded-full bg-white/20 hover:bg-white/30 max-sm:top-47/50"
  href="#top"
>
  <img src={ArrowUp.src} alt="Arrow Up" />
</a>
