---
const { logo, name } = Astro.props;
---

<div
  class="flex gap-2 items-center w-fit px-2 py-1 rounded-xl bg-white/30 max-sm:text-xs"
>
  <img class="w-5 max-sm:w-4" src={logo.src} alt={name} />
  <p>{name}</p>
</div>