---
import { Image } from "astro:assets";

const { logo, name } = Astro.props;
---

<div
  class="flex gap-2 items-center w-fit px-3 py-2 rounded-lg bg-slate-800 text-xs lg:text-sm"
>
  <Image class="size-5" src={logo} alt={name} width={5} height={5} />
  <p>{name}</p>
</div>